<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getUsername()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<p th:text="${'Height: ' + user.getHeight()}">VALUE</p>
<p th:text="${'Weight: ' + user.getWeight()}">VALUE</p>
<p th:text="${'Sex: ' + user.getSex()}">VALUE</p>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>

<br/>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>